@import '../../css/variables';

.modalHeader {
  align-items: center;
  border-bottom: 0.1rem solid;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--base-padding);
  padding-bottom: var(--base-padding);
}

.modalHeader h2 {
  margin: 0;
}

.closeButton {
  border: none;
  display: block;
  padding: 0;
  width: 4rem;
}

.modal {
  background: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid var(--black);
  bottom: var(--base-padding);
  left: var(--base-padding);
  outline: none;
  overflow: auto;
  padding: 1rem;
  position: absolute;
  right: var(--base-padding);
  top: var(--base-padding);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 10;
}
