@import '../../../css/variables';

.svg {
  fill: none;
  stroke-width: 2;
  stroke: var(--black);
  transition: 0.25s ease all;
}

.svg:hover,
.svg:focus,
.svg:active {
  stroke-width: 4;
}

.svg:active {
  stroke: #ccc;
}
