@import '../../css/variables';

.header {
  display: flex;
  border-bottom: 0.4rem solid var(--black);
  justify-content: space-between;
  align-items: center;
  padding: var(--base-padding);
  margin-bottom: 1.6rem;
}

.title {
  margin: 0;
}
