@import './css/normalize.css';
@import './css/global.css';
@import './css/variables.css';

body {
  font-size: 1.6rem;
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  line-height: var(--para-line-height);
  color: var(--mine-shaft);
}
